.product-details-container {
  display: flex;
  margin: 0 auto;
  width: 95vw;
  padding: 2em 0;
}
.product-details-container > * {
  width: 50%;
}
.product-details-image {
  aspect-ratio: 12 / 9;
  width: 90%;
  border-radius: 20px;
}

.product-details-content-section {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.product-details-addon-container {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 20px;
  padding: 1em 1.5em;
  color: var(--white);
  gap: 1.5em;
}

.addon-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.addon-name {
  flex-grow: 1;
  justify-content: flex-start;
  overflow-wrap: anywhere;
}

.addon-price {
  /* margin-right: 2em; */
  color: var(--red);
  font-weight: 700;
  white-space: nowrap;
}

.product-details-grand-total {
  font-size: clamp(1.4em, 2vw, 2em);
  color: var(--red);
  font-weight: 800;
}
.product-details-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  color: var(--white);
  gap: 1.5em;
}

/* RADIO BUTTON STYLE */

.drink-radio-container {
  background-color: var(--black);
  border-radius: 20px;
  padding: 0.5em;
  padding-left: 3em;
  width: 400px;
  max-width: 100%;
  font-weight: 600;
  color: var(--white);
  display: flex;
  gap: 1em;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.drink-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border: 1px solid var(--border-grey);
  border-radius: 50%;
  overflow: hidden;
}
.drink-radio-container input:checked ~ .radio-btn::after {
  display: block;
}
.radio-btn::after {
  content: "";
  position: absolute;
  background-color: var(--border-grey);
  width: 100%;
  border-radius: 50%;
  border: 2px solid var(--black);
  aspect-ratio: 1;
  display: none;
}

.product-details-footer .primary-button {
  flex-grow: 0.4;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .product-details-container {
    flex-direction: column;
  }
  .product-details-container > * {
    width: 100%;
  }
  .product-details-addon-container {
    padding: 1em;
  }
  .product-details-image {
    width: 100%;
  }
}
