@{
     ViewData["Title"] = "Checkout";
}

<head>
    <style>
        .user-guest-email, .user-details-fields {
            display: flex;
            flex-direction: column;
            gap: 2em;
            width: 70%;
            margin: auto 0;
            padding: 4em 0;
        }
        .user-details-fields{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .user-details-fields > *{
            width: calc(50% - 2em);
        }
        .user-details-fields > #address{
            width: calc(100% - 2em);
        }
        .user-details-fields > select{
            width: calc(33% - 2em);
        }
        .payment-container{
            width: calc(100% - 2em);
        }
        .payment-container > *{
            margin: 1em 0;
        }
        .payment-container > h4 {
            font-size: 1.5em;
        }
        .payment-method{
            background-color: var(--black);
            border-radius: 20px;
            padding: 1.3em;
            padding-left: 3.5em;
            width: 400px;
            max-width: 100%;
            font-weight: 600;
            color: var(--white);
            display: flex;
            gap: 1em;
            align-items: center;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .payment-method input, .save-info-checkbox input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .radio-btn {
            position: absolute;
            top: 50%;
            left: 0.8em;
            transform: translateY(-50%);
            height: 25px;
            width: 25px;
            border: 1px solid var(--border-grey);
            border-radius: 50%;
            overflow: hidden;
        }
        .payment-method input:checked ~ .radio-btn::after{
            display: block;
        }
        .radio-btn::after{
            content: "";
            position: absolute;
            background-color: var(--border-grey);
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            width:75%;
            border-radius: 50%;
            aspect-ratio: 1;
            display: none;
        }
        .save-info-checkbox{
            display: flex;
            gap: 1em;
            align-items: center;
            justify-content: center;
            font-size: clamp(1em, 2vw, 1.3em);
            position: relative;
            cursor: pointer;
            padding-left: 2.5em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .checkbox {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 25px;
            width: 25px;
            background-color: var(--light-black);
            border: 1px solid var(--border-grey);
            border-radius: 6px;
        }
        .checkbox:after {
            content: "";
            position: absolute;
            display: none;
            left: 30%;
            top: 30%;
            width: 7px;
            height: 12px;
            border: 1px solid var(--border-grey);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg) translate(-25%, -25%);
            -ms-transform: rotate(45deg) translate(-25%, -25%);
            transform: rotate(45deg) translate(-25%, -25%);
        }
        .save-info-checkbox input:checked ~ .checkbox:after {
            display: block;
        }
        .login-container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-block: 10vw;
            gap: 4em;
        }

        .register-link {
            color: var(--red);
            font-weight: 700;
        }
    </style>
</head>

<div class="checkout-container">
    <h2>Checkout</h2>
    <div class="checkout-content">
        <div class="user-info-section">
            <div class="login-type-selector">
                <span>Login</span>
                <span class="active">Guest User</span>
            </div>
            <form class="user-guest-email">
                <input class="input-field" autocomplete="email" type="email" name="email" id="email" placeholder="Email Address">
                <button class="primary-button" >Continue as Guest</button>
            </form>
            <form class="user-details-fields">
                <input class="input-field" autocomplete="email" type="email" name="email" id="email" placeholder="Email Address">
                <input class="input-field" autocomplete="mobile" type="text" name="phone_number" id="phone_number" placeholder="Phone Number">
                <input class="input-field" autocomplete="name" type="text" name="first_name" id="first_name" placeholder="First Name">
                <input class="input-field" autocomplete="name" type="text" name="last_name" id="last_name" placeholder="Last Name">
                <textarea class="input-field" autocomplete="address-level1" type="text" name="address" id="address" placeholder="Address" cols="20" rows="5"></textarea>
                <select class="input-field" name="country" id="country">
                    <option value="1">Pakistan</option>
                </select>
                <select class="input-field" name="state" id="state">
                    <option value="1">Sindh</option>
                </select>
                <select class="input-field" name="city" id="City">
                    <option value="1">Karachi</option>
                </select>
                <div class="payment-container">
                    <h4>Payment Method</h4>
                    <label class="payment-method">Cash on Delivery
                        <input type="radio" checked='checked' name="payment_method" id="cash_on_delivery" value="cash_on_delivery">
                         <span class="radio-btn"></span>
                    </label>
                </div>
            </form>
            <form class='login-container'>

                <h2>Login with your account</h2>

                <div class="input-fields-container">
                    <input class="input-field" type="email" placeholder="Email Address" autocomplete="email" />
                    <input class="input-field" type="password" placeholder="Password" autocomplete="current-password" />
                </div>

                <div class='signin-btn-container'>
                    <button class="primary-button" type="submit">Sign In</button>
                    <p>
                        New user?  <a class='register-link' asp-area="" asp-controller="Auth" asp-action="Register">
                            Register
                        </a>
                    </p>
                </div>
            </form>
        </div>
        <div class="cart-summary-section">
            <h3>Cart Summary</h3>
            <div class="cart-summary-item-container">
                <div class="cart-summary-item-img-content">
                    <img src="/Images/crispy-box.png" alt="">
                    <div class="cart-summary-item-info">
                        <h4>Signature Boxes</h4>
                        <p class="cart-summary-item-price">PKR 835</p>
                        <p>
                            <b>Drink:</b> Pepsi <br>
                            <b>Add Ons:</b> Fries (x1), Mayo Dip (x 1)
                        </p>
                    </div>

                </div>
                <h3 class="cart-summary-item-total-price">PKR 1675</h3>
            </div>
            <div class="cart-summary-item-container">
                <div class="cart-summary-item-img-content">
                    <img src="/Images/crispy-box.png" alt="">
                    <div class="cart-summary-item-info">
                        <h4>Signature Boxes</h4>
                        <p class="cart-summary-item-price">PKR 835</p>
                        <p>
                            <b>Drink:</b> Pepsi <br>
                            <b>Add Ons:</b> Fries (x1), Mayo Dip (x 1)
                        </p>
                    </div>

                </div>
                <h3 class="cart-summary-item-total-price">PKR 1675</h3>
            </div>
            <div class="cart-summary-total-container">
                <h3>Total</h3>
                <h3 class="cart-summary-total-price">PKR 3299</h3>
            </div>
            <button type="submit" class="primary-button">Place Order</button>
            
            <label class="save-info-checkbox" >
                <input type="checkbox" name="save_info" id="save_info">
                Save this information for next time
                <span class="checkbox"></span>
            </label>
        </div>
    </div>
</div>

 <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.user-details-fields').hide();
        $('.user-guest-email').hide();
        $('.login-type-selector span').click(function () {
            $('.login-type-selector span').removeClass('active');
            $(this).addClass('active');
        });

        $('.primary-button').click(function(e){
            e.preventDefault();
            $('.user-guest-email').hide();
            $('.user-details-fields').show();
        });
    });
</script>