<style>
    .checkout-btn {
        text-decoration: none;
        color: var(--white);
        text-align: center;
    }

    .checkout-btn:hover {
        text-decoration: none;
        color: var(--white);
    }
</style>
<div class="sidebar-container hide"></div>

<div class="sidebar-content">
    <div class="sidebar-heading">
        <h2>Cart</h2>
    </div>
    <div class="sidebar-body">


        @await Html.PartialAsync("_CartItem", null, new ViewDataDictionary(ViewData){ {"IsSideBarItem", true} })
        @await Html.PartialAsync("_CartItem", null, new ViewDataDictionary(ViewData){ {"IsSideBarItem", true} })
        @await Html.PartialAsync("_CartItem", null, new ViewDataDictionary(ViewData){ {"IsSideBarItem", true} })


    </div>
    <div class="sidebar-footer">
        <div class="cart-summary-total-container">
            <h3>Total</h3>
            <h3 class="cart-summary-total-price">PKR 3299</h3>
        </div>
        <a class="primary-button checkout-btn" asp-area="" asp-controller="Checkout" asp-action="Index">
            Checkout
        </a>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).on("click", '.cart-btn', function (event) {
            $(".sidebar-container").toggleClass("hide");
            $(".sidebar-content").toggleClass("float-in");
        });

        $(document).on("click", '.sidebar-container', function (event) {
            $(".sidebar-container").toggleClass("hide");
            $(".sidebar-content").toggleClass("float-in");
        });
    })
</script>