<div class="cart-summary-item-container">
                <div class="cart-summary-item-img-content">
                    <img src="/Images/crispy-box.png" alt="">
                    <div class="cart-summary-item-info">
                        <h4>Signature Boxes</h4>
                        <p class="cart-summary-item-price">PKR 835</p>
                        <p>
                            <b>Drink:</b> Pepsi <br>
                            <b>Add Ons:</b> Fries (x1), Mayo Dip (x 1)
                        </p>
                    </div>

                </div>
                <h3 class="cart-summary-item-total-price">PKR 1675</h3>
            </div>