.cart-summary-item-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 95%;
  background-color: var(--light-black);
  border-radius: 26px;
  border: 1px solid var(--border-grey);
  padding: 1em;
  font-size: clamp(0.65em, 3vw, 1em);
}
.cart-name-price-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}
.cart-summary-name {
  flex-grow: 1;
}
h4.cart-summary-name {
  font-size: clamp(0.65em, 3vw, 1em);
}

.cart-summary-item-container img {
  width: min(18vw, 100px);
  height: min(18vw, 100px);
  border-radius: 16px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.cart-summary-item-img-content {
  display: flex;
  gap: 1em;
  flex-grow: 2;
}
.cart-summary-item-info {
  display: flex;
  gap: 1em;
  width: 100%;
  flex-direction: column;
}
.cart-summary-item-price {
  color: var(--red);
  font-weight: 800;
}
.cart-summary-item-total-price {
  font-size: clamp(1.4em, 2vw, 2em);
  overflow-wrap: anywhere;
}

.cart-counter-crash-container {
  display: flex;
  justify-content: space-between;
  width: 98%;
  align-items: center;
  gap: 1em;
  margin-top: 1.5em;
}

.trash-container {
  background-color: var(--red);
  border-radius: 50%;
  width: fit-content;
  padding: 0.3em;
  aspect-ratio: 1;
  cursor: pointer;
  font-size: clamp(2em, 2vw, 3em);
  display: flex;
  align-items: center;
  justify-content: center;
}
