<div class="cart-summary-item-container">
    <div class="cart-summary-item-img-content">
        <img src="/Images/crispy-box.png" alt="">
        <div class="cart-summary-item-info">
            <div class="cart-name-price-container">
                <h4 class="cart-summary-name">Signature Boxes</h4>
                <h3 class="cart-summary-item-total-price">PKR 1675</h3>
            </div>
            <p class="cart-summary-item-price">PKR 835</p>
            <p>
                <b>Drink:</b> Pepsi <br>
                <b>Add Ons:</b> Fries (x1), Mayo Dip (x 1)
            </p>
        </div>

    </div>
    @if (ViewData["IsSideBarItem"] is bool)
    {
        <div class="cart-counter-crash-container">
            @await Html.PartialAsync("_Counter")
            <div class="trash-container">
                <ion-icon name="trash-outline"></ion-icon>
            </div>
        </div>
    }
</div>