<label class="checkbox-container  @ViewData["AddOnClass"]">
    <input type="checkbox" name="save_info" id="save_info">
    @ViewData["LabelText"]
    <span class="checkbox" checked='false'></span>
</label>