<div class="counter-container">
    <div class="minus">
        <ion-icon name="remove-outline"></ion-icon>
    </div>
    <input type="text" size='1' counterAddOnId="@ViewData["AddOnId"]" class="counter-value-input" id="quantity"
        value="1" min="1" disabled>
    <div class="add">
        <ion-icon name="add-outline"></ion-icon>
    </div>
</div>