.counter-container {
  background-color: var(--black);
  border: 2px solid var(--border-grey);
  border-radius: 0.9em;
  display: flex;
  gap: clamp(1em, 2vw, 2em);
  width: fit-content;
  padding: 0.5em 0.6em;
  justify-content: center;
  align-items: center;
}

.add,
.minus {
  background-color: var(--white);
  border-radius: 30%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  color: var(--black);
  cursor: pointer;
  font-size: clamp(1em, 2vw, 1.3em);
  font-weight: 900;
  text-align: center;
  margin: auto;
}

/* .add::after,
.minus::after {
  content: "\002B";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.minus::after {
  content: "\2212";
} */
