<div class="counter-container">
    <div class="minus">
        <ion-icon name="remove-outline"></ion-icon>
    </div>
    <span>2</span>
    <div class="add">
        <ion-icon name="add-outline"></ion-icon>
    </div>
</div>