/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-container {
  background-color: var(--grey);
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  min-height: var(--navbar-height);
  margin: 0 auto;
  z-index: 1030;
  border-radius: 0 0 20px 20px;
}

.body-content-container {
  /* margin-top: calc(var(--navbar-height) + 2.5em); */
  margin-top: 2.5em;
  min-height: calc(100vh - var(--navbar-height) - 2.5em);
}

.category-container {
  width: 95vw;
  border-radius: 26px;
  background-color: var(--grey);
  border: 1px solid var(--border-grey);
  margin: 0 auto;
  display: flex;
  gap: 0.8em;
  padding: 0.4em;
  margin-bottom: 0.8em;
  flex-wrap: wrap;
  min-height: 76px;
}

.category-item {
  padding: 1.6em;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: color 200ms ease-in-out;
}

.category-item:hover:not(.category-item-selected) {
  color: #6a6a6a;
}

.category-item-selected {
  background-color: var(--black);
  border-radius: 21px;
  color: var(--white);
}

.cart-btn {
  background-color: var(--red);
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.2em;
  margin-left: auto;
  margin-block: auto;
  padding: 0.5em 1.2em;
  min-width: 100px;
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
  position: relative;
  font-size: 22px;
}
