@model KFCClone.DTOs.Auth.LoginRequestBodyDto
<head>
    <style>
        .login-container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-block: 10%;
            gap: 4em;
        }

        .register-link {
            color: var(--red);
            font-weight: 700;
        }

    </style>
</head>
<form asp-action='Login' class='login-container'>

    <h2>Login with your account</h2>
    
    <div class="input-fields-container">
        <div class="input-container">
            <input asp-for='Email' class="input-field" type="email" placeholder="Email Address" autocomplete="email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="input-container">
            <input asp-for='Password' class="input-field" type="password" placeholder="Password" autocomplete="current-password" />
            <span asp-validation-for="Password"></span>
        </div>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="login-error-message">
                @ViewBag.ErrorMessage
            </div>
        }
    </div>

    @* <div asp-validation-summary="All"></div> *@

    <div class='signin-btn-container'>
        <button id="login" class="primary-button" type="submit">Sign In</button>
        <p>
            New user?  <a class='register-link' asp-area="" asp-controller="Auth" asp-action="Register">
                Register
            </a>
        </p>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}