@{
    ViewData["Title"] = "Login";
}

<div class='login-container'>

    <h2>Login with your account</h2>

    <input />
    <input />

    <div class='signin-btn-container'>
        <button>Sign In</button>
        <p>
            New user?  <a class='aclass-tag' asp-area="" asp-controller="Auth" asp-action="Register">
                Register
            </a>
        </p>
    </div>

</div>