@model KFCClone.DTOs.Auth.RegisterRequestBodyDto

@{
    ViewData["Title"] = "Register";
}
<head>
    <style>
        .login-container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2%;
            margin-bottom: 4%;
            gap: 4em;
        }

        .register-link {
            color: var(--red);
            font-weight: 700;
        }

        .selects-container > .input-container {
            width: max(30%, 300px);
            flex-grow: 1;
        }
    </style>
</head>
<form asp-controller='Auth' asp-action='Register' class='login-container'>

    <h2>Register</h2>

    <div class="input-fields-container">
        <div class="input-container">
            <input asp-for='FirstName' class="input-field" type="text" placeholder="First Name" autocomplete="name" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="input-container">
            <input asp-for='LastName' class="input-field" type="text" placeholder="Last Name" autocomplete="family-name" />
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="input-container">
            <input asp-for='Email' class="input-field" type="email" placeholder="Email Address" autocomplete="email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="input-container">
            <input asp-for='ContactNumber' class="input-field" type="text" placeholder="Phone Number" autocomplete="tel" />
            <span asp-validation-for="ContactNumber"></span>
        </div>
        
        <div class="input-container">
            <input asp-for='Password' class="input-field" type="password" placeholder="Password" autocomplete="current-password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="input-container">
            <input asp-for='ConfirmPassword' class="input-field" type="password" placeholder="Confirm Password" autocomplete="current-password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        
        <div class="input-container address-field">
            <textarea asp-for='Address' class="input-field" type="text" placeholder="Address" autocomplete="address-level1" rows="5"></textarea>
            <span asp-validation-for="Address"></span>
        </div>

        <div class="selects-container">
            <div class="input-container">
                <select class="input-field" asp-for="CountryId" asp-items="Model.Countries">
                    <option disabled selected>Country</option>
                </select>
                <span asp-validation-for="CountryId"></span>
            </div>

            <div class="input-container">
                <select class="input-field" asp-for="StateId" asp-items="Model.States">
                    <option disabled selected>State</option>
                </select>
                <span asp-validation-for="StateId"></span>
            </div>
            
            <div class="input-container">
                <select class="input-field" asp-for="CityId" asp-items="Model.Cities">
                    <option disabled selected>City</option>
                </select>
                <span asp-validation-for="CityId"></span>
            </div>
        </div>

        
    </div>

    @* <div asp-validation-summary="All"></div> *@
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="login-error-message">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class='signin-btn-container'>
        <button class="primary-button" type="submit">Create Account</button>
        <p>
            Already have an account?  <a class='register-link' asp-area="" asp-controller="Auth" asp-action="Login">
                Login
            </a>
        </p>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}