.signin-btn-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2em;
  width: 100%;
}

.signin-btn-container > p {
  font-weight: 500;
}

.login-error-message {
  margin: 0 auto;
  font-weight: 700;
  color: var(--red);
  font-size: 1.1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  font-weight: 500;
  color: var(--red);
  width: max(40%, 300px);
}

.input-fields-container {
  display: flex;
  gap: 3em 4em;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2em;
}

.address-field {
  width: 85%;
}

.selects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  width: 85%;
}
