/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

:root {
    --black: #1E1E1E;
    --grey: #E6E6E6;
    --border-grey: #B4B4B4;
    --white: #FFFFFF;
    --red: #E21E2D;
    --navbar-height: 83px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 65px;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    margin-left: 1em;
}


.login-btn {
    background-color: var(--black);
    border-radius: 11px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 0.7em 2em;
    text-align: center;
    transition: all .3s ease-in-out;
    outline: none;
    border: none;
}

.login-btn > a {
    color: var(--white);
    text-decoration: none;
}
